*.opensdf
*.sdf
*.suo
*.exe
*.dll
*.user
*.filters
*.pdf
*.ini

debug
Debug
Release
Win32
ipch
GeneratedFiles
/SalaryCount/SalaryCount/GeneratedFiles/qrc_salarycount.cpp
/SalaryCount/SalaryCount/GeneratedFiles/ui_salarycount.h
